body{
  height: 100%;
  width: 100%;
  margin: 0;
  background:rgb(102, 204, 0);

  background-position: center;
}
#score-div{
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
  font-size: 25px;
  background: white;
  color: #454545;
  width: 150px;
  height: 28px;
  text-align: center;

  box-shadow: 4px 4px 4px 1px black;
}
#container{
  background:#333;
  width: 40%;
  height: 100vh;
  left: 35%;
  position: relative;
  overflow: hidden;
box-shadow: 5px 5px 8px 5px rgba(0, 0,255, 0.4);
}
.line{
  width: 4%;
  height: 30vh;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  margin-left: 48%
}
#line-1{
  top: -150px;
}
#line-2{
  top: 150px;
}

 #line-3{
  top: 450px;
}

.car{
position: absolute;
width: 40px;
height: 60px;
border-radius: 5px;

box-shadow: 0px 1px 8px 0px black;
}


#car{
  bottom: 8%;
  left: 60%;
  background: red;
}

.f-glass{
  width: 60%;
height: 20%;
background: gray;
position: absolute;
margin-left: 20%;
top: 15%;
border-radius: 5px 5px 0 0;
}
.b-glass{
  width: 60%;
  height: 20%;
  background: #484848;
  position: absolute;
  margin-left: 20%;
  bottom: 15%;
  border-radius: 0 0 5px 5px;
}


.f-light-l,
.f-light-r{
  position: absolute;
  width: 20%;
  height: 10%;
  background: #efefef;
  top: -6%;
  margin-left: 10%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 1px 8px 0px white;
}
.f-light-r{
  margin-left: 70%;
}

.f-tyre-l,
.f-tyre-r,
.b-tyre-l,
.b-tyre-r{
  position: absolute;
  height: 20%;
  width: 10%;
  background: grey;
}


.f-tyre-l{
  top: 20%;
  left: -10%;
  border-radius: 5px 0px 0px 5px;
}

.f-tyre-r{
  top: 20%;
  left: 100%;
  border-radius: 0px 5px 5px 0px ;
}

.b-tyre-l{
  top: 70%;
  left: -10%;
  border-radius: 5px 0px 0px 5px ;
}

.b-tyre-r{
  top: 70%;
  left: 100%;
  border-radius: 0px 5px 5px 0px ;
}


#car-1{
  top: 100px;
  left: 60%;
  background: rgb(255, 255, 77);
}

#car-2{
  top: 200px;
  left: 25%;
  background: rgb(196, 77, 255);
}

#car-3{
  top: 350px;
  left: 45%;
  background: rgb(255, 153, 0);
}

#restart-div{
  position: absolute;

  width: 100%;
  height: 100%;
  background: #292929;

  display: none;
  color: white;
  font-size: 40px;
  text-align: center;



}

#restart{
border: none;
padding: 25px;
color: black;
background-color:white;

font-size: 30px;
box-shadow: 4px 4px 4px 1px white;

}
